<a href="https://colab.research.google.com/github/lokeshudalkar/Data_Science/blob/main/Student_performance_descriptive_states_visualisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Creating Dataset & MetaData

In [3]:
student = pd.read_csv('/content/StudentsPerformance.csv')

In [23]:
student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
student.index

RangeIndex(start=0, stop=1000, step=1)

In [5]:
student.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
student.axes

[RangeIndex(start=0, stop=1000, step=1),
 Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
        'test preparation course', 'math score', 'reading score',
        'writing score'],
       dtype='object')]

In [7]:
student.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [8]:
student.size

8000

In [9]:
student.shape

(1000, 8)

In [10]:
student.values

array([['female', 'group B', "bachelor's degree", ..., 72, 72, 74],
       ['female', 'group C', 'some college', ..., 69, 90, 88],
       ['female', 'group B', "master's degree", ..., 90, 95, 93],
       ...,
       ['female', 'group C', 'high school', ..., 59, 71, 65],
       ['female', 'group D', 'some college', ..., 68, 78, 77],
       ['female', 'group D', 'some college', ..., 77, 86, 86]],
      dtype=object)

In [11]:
student.empty

False

In [12]:
student.ndim

2

In [13]:
df = pd.DataFrame(student)
df.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
gender,female,female,female,male,male,female,female,male,male,female,...,male,female,female,female,male,female,male,female,female,female
race/ethnicity,group B,group C,group B,group A,group C,group B,group B,group B,group D,group B,...,group E,group B,group D,group D,group A,group E,group C,group C,group D,group D
parental level of education,bachelor's degree,some college,master's degree,associate's degree,some college,associate's degree,some college,some college,high school,high school,...,high school,some high school,associate's degree,bachelor's degree,high school,master's degree,high school,high school,some college,some college
lunch,standard,standard,standard,free/reduced,standard,standard,standard,free/reduced,free/reduced,free/reduced,...,free/reduced,standard,free/reduced,free/reduced,standard,standard,free/reduced,free/reduced,standard,free/reduced
test preparation course,none,completed,none,none,none,none,completed,none,completed,none,...,completed,completed,none,none,none,completed,none,completed,completed,none
math score,72,69,90,47,76,71,88,40,64,38,...,86,65,55,62,63,88,62,59,68,77
reading score,72,90,95,57,78,83,95,43,64,60,...,81,82,76,72,63,99,55,71,78,86
writing score,74,88,93,44,75,78,92,39,67,50,...,75,78,76,74,62,95,55,65,77,86

In [21]:
# student.count(0)
student.count(axis = 'index')

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [20]:
# student.count(1)
student.count(axis = 'columns')

0      8
1      8
2      8
3      8
4      8
      ..
995    8
996    8
997    8
998    8
999    8
Length: 1000, dtype: int64

In [22]:
student[['test preparation course' , 'math score' , 'reading score' , 'writing score']]

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 4 columns]

In [25]:
student.iat[10 , 5]

np.int64(58)

In [26]:
student.at[10 , 'lunch']

'standard'

In [31]:
student

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [30]:
student.groupby('gender').mean(numeric_only=True)

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [35]:
student[student['math score'] > 60]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
...,...,...,...,...,...,...,...,...
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [47]:
student['math score'][5]

np.int64(71)

In [48]:
student['math score'][5] = 72

<ipython-input-48-efa118e16b42>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  student['math score'][5] = 72
<ipython-input-48-efa118e16b42>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student['math score'][5] = 72

In [50]:
student['math score'][5]
student['math score'][5] = 71
student['math score'][5]

<ipython-input-50-d14d58f174f6>:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  student['math score'][5] = 71
<ipython-input-50-d14d58f174f6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student['math score'][5] = 71

np.int64(71)

#Descriptive statistics

In [52]:
student.max(axis=0 , skipna=True , numeric_only=True)

math score       100
reading score    100
writing score    100
dtype: int64

In [54]:
student.min(axis=0 , skipna=False , numeric_only=True)

math score        0
reading score    17
writing score    10
dtype: int64

In [57]:
student.idxmax()

gender                           3
race/ethnicity                  32
parental level of education     15
lunch                            0
test preparation course          0
math score                     149
reading score                  106
writing score                  106
dtype: int64

In [58]:
student.idxmin()

gender                          0
race/ethnicity                  3
parental level of education     3
lunch                           3
test preparation course         1
math score                     59
reading score                  59
writing score                  59
dtype: int64

In [59]:
student.mean(axis=0 , skipna=True , numeric_only=True)

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [60]:
student.mean(axis=1 , skipna=True , numeric_only=True)

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Length: 1000, dtype: float64

In [61]:
student.mean(axis=None , skipna=True , numeric_only=True)

np.float64(67.77066666666667)

In [64]:
student.mode(numeric_only=True)

   math score  reading score  writing score
0          65             72             74

In [65]:
student.median(numeric_only=True)

math score       66.0
reading score    70.0
writing score    69.0
dtype: float64

In [68]:
student.quantile(q = 0.5,numeric_only=True)

math score       66.0
reading score    70.0
writing score    69.0
Name: 0.5, dtype: float64

In [73]:
student.std(numeric_only=True , skipna=True , axis=0)

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

In [74]:
student.var(numeric_only=True , skipna=True , axis=0)

math score       229.918998
reading score    213.165605
writing score    230.907992
dtype: float64

In [75]:
student.describe(include='all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [76]:
student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [84]:
student.iloc[:,[5,6,7]].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [86]:
student.sort_values(by=['math score'] , kind = 'quicksort' , inplace = False , ascending = True , na_position = 'first')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
962,female,group E,associate's degree,standard,none,100,100,100
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100

In [97]:
student.aggregate('mean' , numeric_only=True)

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [99]:
df1 = student.groupby('gender')

In [100]:
df1.groups

{'female': [0, 1, 2, 5, 6, 9, 12, 14, 15, 17, 19, 21, 23, 27, 29, 30, 31, 32, 36, 37, 38, 41, 42, 44, 46, 47, 48, 54, 55, 56, 59, 63, 64, 67, 69, 70, 72, 78, 79, 80, 85, 86, 87, 88, 89, 90, 94, 97, 98, 99, 102, 105, 106, 108, 109, 110, 113, 114, 116, 117, 118, 119, 120, 122, 125, 129, 133, 138, 140, 141, 142, 145, 148, 152, 155, 156, 158, 161, 164, 165, 167, 168, 169, 172, 173, 174, 175, 176, 177, 178, 179, 181, 182, 183, 189, 190, 192, 194, 198, 199, ...], 'male': [3, 4, 7, 8, 10, 11, 13, 16, 18, 20, 22, 24, 25, 26, 28, 33, 34, 35, 39, 40, 43, 45, 49, 50, 51, 52, 53, 57, 58, 60, 61, 62, 65, 66, 68, 71, 73, 74, 75, 76, 77, 81, 82, 83, 84, 91, 92, 93, 95, 96, 100, 101, 103, 104, 107, 111, 112, 115, 121, 123, 124, 126, 127, 128, 130, 131, 132, 134, 135, 136, 137, 139, 143, 144, 146, 147, 149, 150, 151, 153, 154, 157, 159, 160, 162, 163, 166, 170, 171, 180, 184, 185, 186, 187, 188, 191, 193, 195, 196, 197, ...]}